<html>
    <head>
        {% if validlink %}
            <title>Reset password for {{ form.user.username }}</title>
        {% else %}
            <title>Reset your password</title>
        {% endif %}

    </head>
    <body>
        {% if validlink %}
            <h3>Reset password for @{{ form.user.username }}</h3>
            <form method="post" novalidate>{% csrf_token %}
                {% for field in form %}
                    <p>{{ field.label_tag }}</p>
                    <p>{{ field }}</p>
                {% endfor %}
              <button type="submit" class="btn btn-success btn-block">Reset password</button>
            </form>
          {% else %}
            <h3 >Reset your password</h3>
            <div>
              It looks like you clicked on an invalid password reset link. Please try again.
            </div>
            <a href="{% url 'password_reset' %}" >Request a new password reset link</a>
          {% endif %}
    </body>
</html>