<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Article Delete?</h1>
<!--<form method="post">-->
<!--{% csrf_token %}-->
    <!--&lt;!&ndash;<h5>Do you want to delete the post "{{ object.title }}" by "{{ object.author }}"?</h5>&ndash;&gt;-->
    <!--<p><input type='submit' value='Yes' />  <a href='../'>Cancel</a></p>-->

<h4 align="center" > {{article}} </h4>
<h4 align="center" > <a href="{% url 'dashboard' %}" >Dashboard</a> </h4>


</body>
</html>

